flows_sosthene-N550JK.json
[{"type":"tab","id":"99bba521.664458","label":"Flow1"},{"id":"3425c16d.cbda3e","type":"websocket-listener","z":"99bba521.664458","path":"ws://localhost:9000/wsNodeRed","wholemsg":"false"},{"id":"d3425691.2cbda8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179,"y":93,"inputWires":[],"wires":[["acf57129.530a9"]]},{"id":"88b73430.7748c8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":244,"inputWires":[],"wires":[["aee3c5b8.511c38"]]},{"id":"d6bc2096.2943e","type":"lower-case","z":"99bba521.664458","name":"","x":676,"y":216,"inputWires":[["acf57129.530a9"],["aee3c5b8.511c38"]],"wires":[["57fb9735.a80468"]]},{"id":"57fb9735.a80468","type":"debug","z":"99bba521.664458","name":"","active":true,"console":"false","complete":"false","x":919,"y":196,"inputWires":[["d6bc2096.2943e"]],"wires":[]},{"id":"acf57129.530a9","type":"function","z":"99bba521.664458","name":"function_Name_001","func":"\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":58,"inputWires":[["d3425691.2cbda8"]],"wires":[["d6bc2096.2943e"]]},{"id":"aee3c5b8.511c38","type":"function","z":"99bba521.664458","name":"function_Name_002","func":"var date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":300,"inputWires":[["88b73430.7748c8","b1b25540.4e4da8"]],"wires":[["d6bc2096.2943e"]]},{"id":"b1b25540.4e4da8","type":"MarketData","z":"99bba521.664458","path":"wss://echo.websocket.org","name":"ddd","x":219,"y":456,"inputWires":[],"wires":[["aee3c5b8.511c38","735a684a.8ca598"]]},{"id":"735a684a.8ca598","type":"function","z":"99bba521.664458","name":"RSI","func":"//operation: String, indicatorName: String, \n// parameter: String\n\nvar test={ \"operation\" : 'GetCurrentIndicator',\n           \"indicatorName\" : 'rsi',\n           \"parameter\" : 14\n}\n\nif( msg.payload.data ){\n    node.status({text:\"rsi:\"+msg.payload.data});  \n    msg.payload=msg.payload.data;\n    return [null, msg ]    \n}else{\nmsg.payload = test;\nreturn [msg,null]\n}","outputs":"2","noerr":0,"x":574,"y":554,"inputWires":[["b1b25540.4e4da8"]],"wires":[["2b51b04d.d4ae5"],[]]},{"id":"2b51b04d.d4ae5","type":"websocket out","z":"99bba521.664458","name":"local play","server":"3425c16d.cbda3e","client":"","x":869,"y":390,"inputWires":[["735a684a.8ca598"]],"wires":[]}]