flows_sosthene-N550JK.json
[{"type":"tab","id":"99bba521.664458","label":"Flow1"},{"id":"3425c16d.cbda3e","type":"websocket-listener","z":"99bba521.664458","path":"ws://localhost:9000/wsNodeRed","wholemsg":"true"},{"id":"d3425691.2cbda8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179,"y":93,"inputWires":[],"wires":[["acf57129.530a9"]]},{"id":"88b73430.7748c8","type":"inject","z":"99bba521.664458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":244,"inputWires":[],"wires":[["aee3c5b8.511c38"]]},{"id":"d6bc2096.2943e","type":"lower-case","z":"99bba521.664458","name":"","x":676,"y":216,"inputWires":[["acf57129.530a9"],["aee3c5b8.511c38"]],"wires":[["57fb9735.a80468"]]},{"id":"57fb9735.a80468","type":"debug","z":"99bba521.664458","name":"","active":true,"console":"false","complete":"false","x":1046,"y":436,"inputWires":[["d6bc2096.2943e","1dd5b78a.e22a48","d39635c3.2c69c8","735a684a.8ca598","624722d5.9db8dc"]],"wires":[]},{"id":"acf57129.530a9","type":"function","z":"99bba521.664458","name":"function_Name_001","func":"\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"inputs":"1","noerr":0,"x":450,"y":58,"inputWires":[["d3425691.2cbda8"]],"wires":[["d6bc2096.2943e"]]},{"id":"aee3c5b8.511c38","type":"function","z":"99bba521.664458","name":"function_Name_002","func":"var date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":"2","inputs":"1","noerr":0,"x":444,"y":271,"inputWires":[["88b73430.7748c8","b1b25540.4e4da8"]],"wires":[["d6bc2096.2943e"],[]]},{"id":"b1b25540.4e4da8","type":"MarketData","z":"99bba521.664458","path":"wss://echo.websocket.org","name":"ddd","x":201,"y":433,"inputWires":[],"wires":[["aee3c5b8.511c38"]]},{"id":"735a684a.8ca598","type":"function","z":"99bba521.664458","name":"RSI","func":"//operation: String, indicatorName: String, \n// parameter: String\n\nvar test={ \"operation\" : 'GetCurrentIndicator',\n           \"indicatorName\" : 'rsi',\n           \"parameter\" : 14\n}\n\nif( msg.payload.data ){\n    node.status({text:\"rsi:\"+msg.payload.data});  \n    msg.payload=msg.payload.data;\n    return [null, msg ]    \n}else{\nmsg.payload = test;\nreturn [msg,null]\n}","outputs":"2","inputs":"1","noerr":0,"x":725,"y":690,"inputWires":[["192b7146.e6d48f"]],"wires":[["2b51b04d.d4ae5","57fb9735.a80468"],[]]},{"id":"2b51b04d.d4ae5","type":"websocket out","z":"99bba521.664458","name":"local play","server":"3425c16d.cbda3e","client":"","x":1034,"y":531,"inputWires":[["735a684a.8ca598","1dd5b78a.e22a48"]],"wires":[]},{"id":"1dd5b78a.e22a48","type":"function","z":"99bba521.664458","name":"request new data","func":"//test envoi request to server\nvar test={ \"operation\" : 'getnewdata'}\nmsg.payload = test;\n\nreturn msg;","outputs":1,"inputs":"1","noerr":0,"x":657,"y":531,"inputWires":[["6115b7c9.9eea48"]],"wires":[["2b51b04d.d4ae5","57fb9735.a80468"]]},{"id":"6115b7c9.9eea48","type":"inject","z":"99bba521.664458","name":"Request new data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164,"y":533,"inputWires":[],"wires":[["1dd5b78a.e22a48","624722d5.9db8dc"]]},{"id":"192b7146.e6d48f","type":"websocket in","z":"99bba521.664458","name":"Get Server Data","server":"3425c16d.cbda3e","client":"","x":146,"y":690,"inputWires":[],"wires":[["d39635c3.2c69c8","735a684a.8ca598"]]},{"id":"d39635c3.2c69c8","type":"function","z":"99bba521.664458","name":"Show High price","func":"\nnode.error(\"dddOh no, something bad happened\");\nconsole.log(\"gg\")\nvar test={ \"operation\" : 'dddd',\n           \"indicatorName\" : 'rsi',\n           \"parameter\" : 14\n}\n\nvar high=msg.payload.high\nif( high ){\n msg.payload = high\n node.status({text:\"high:\"+high});   \n msg.payload=test;\n return msg;   \n}else{\n \n msg.payload=test;\n return msg\n}","outputs":1,"inputs":"1","noerr":0,"x":526,"y":435,"inputWires":[["192b7146.e6d48f"]],"wires":[["57fb9735.a80468"]]},{"id":"624722d5.9db8dc","type":"function","z":"99bba521.664458","name":"hhhj","func":"node.error(\"Oh no, something bad happened\");\nreturn msg;","outputs":1,"inputs":1,"noerr":0,"x":466,"y":796,"inputWires":[["6115b7c9.9eea48","6dc422e3.923bdc"]],"wires":[["57fb9735.a80468"]]},{"id":"6dc422e3.923bdc","type":"inject","z":"99bba521.664458","name":"hjjkzkz","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":156,"y":806,"inputWires":[],"wires":[["624722d5.9db8dc"]]}]